*{
   margin: 0;
   padding: 0;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	background: #736a6a;
}

.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	border: none;
	color: #white;
}

.textview {
	width: 204px;
	margin: 5px;
	font-size: 25px;
	padding: 5px;
	color: #9a6262;
}
#equal {
	height: 106px;
	background: #1daf1d;
}
#zero {
	width: 106px;
}
#clean {
	background: #ff8d00;
}










